SOURCE/Admin/MyAdmin/Framework/BussinessObject/Web References/UploadService/FileUploadSvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DeleteAvatarUserUp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAvatarUserUpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteAvatarUserUpResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="type" type="tns:TypeImageUploadEnum" />
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="byteArray" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="TypeImageUploadEnum">
        <s:restriction base="s:string">
          <s:enumeration value="Avatar" />
          <s:enumeration value="Article" />
          <s:enumeration value="Association" />
          <s:enumeration value="Banner" />
          <s:enumeration value="Comment" />
          <s:enumeration value="Another" />
        </s:restriction>
      </s:simpleType>
      <s:element name="UploadImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadImageResult" type="tns:UploadImageResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UploadImageResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsSuccess" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImagePath" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UploadAvatarUserInGame">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strjpg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UpPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Newname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadAvatarUserInGameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadAvatarUserInGameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteImageResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadBanner">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="byteArray" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="UpPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Newname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadBannerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadBannerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadImage_V2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="type" type="tns:TypeImageUploadEnum" />
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="byteArray" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="width" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadImage_V2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadImage_V2Result" type="tns:UploadImageResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgentUpAvatarGif">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="byteArray" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="UpPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Newname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgentUpAvatarGifResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AgentUpAvatarGifResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgentUploadAvatar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="byteArray" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="UpPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Newname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgentUploadAvatarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AgentUploadAvatarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveJPEG">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strjpg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pathFile" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveJPEGResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DeleteAvatarUserUpSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteAvatarUserUp" />
  </wsdl:message>
  <wsdl:message name="DeleteAvatarUserUpSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteAvatarUserUpResponse" />
  </wsdl:message>
  <wsdl:message name="UploadImageSoapIn">
    <wsdl:part name="parameters" element="tns:UploadImage" />
  </wsdl:message>
  <wsdl:message name="UploadImageSoapOut">
    <wsdl:part name="parameters" element="tns:UploadImageResponse" />
  </wsdl:message>
  <wsdl:message name="UploadAvatarUserInGameSoapIn">
    <wsdl:part name="parameters" element="tns:UploadAvatarUserInGame" />
  </wsdl:message>
  <wsdl:message name="UploadAvatarUserInGameSoapOut">
    <wsdl:part name="parameters" element="tns:UploadAvatarUserInGameResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteImageSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteImage" />
  </wsdl:message>
  <wsdl:message name="DeleteImageSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteImageResponse" />
  </wsdl:message>
  <wsdl:message name="UploadBannerSoapIn">
    <wsdl:part name="parameters" element="tns:UploadBanner" />
  </wsdl:message>
  <wsdl:message name="UploadBannerSoapOut">
    <wsdl:part name="parameters" element="tns:UploadBannerResponse" />
  </wsdl:message>
  <wsdl:message name="UploadImage_V2SoapIn">
    <wsdl:part name="parameters" element="tns:UploadImage_V2" />
  </wsdl:message>
  <wsdl:message name="UploadImage_V2SoapOut">
    <wsdl:part name="parameters" element="tns:UploadImage_V2Response" />
  </wsdl:message>
  <wsdl:message name="AgentUpAvatarGifSoapIn">
    <wsdl:part name="parameters" element="tns:AgentUpAvatarGif" />
  </wsdl:message>
  <wsdl:message name="AgentUpAvatarGifSoapOut">
    <wsdl:part name="parameters" element="tns:AgentUpAvatarGifResponse" />
  </wsdl:message>
  <wsdl:message name="AgentUploadAvatarSoapIn">
    <wsdl:part name="parameters" element="tns:AgentUploadAvatar" />
  </wsdl:message>
  <wsdl:message name="AgentUploadAvatarSoapOut">
    <wsdl:part name="parameters" element="tns:AgentUploadAvatarResponse" />
  </wsdl:message>
  <wsdl:message name="SaveJPEGSoapIn">
    <wsdl:part name="parameters" element="tns:SaveJPEG" />
  </wsdl:message>
  <wsdl:message name="SaveJPEGSoapOut">
    <wsdl:part name="parameters" element="tns:SaveJPEGResponse" />
  </wsdl:message>
  <wsdl:portType name="FileUploadSvcSoap">
    <wsdl:operation name="DeleteAvatarUserUp">
      <wsdl:input message="tns:DeleteAvatarUserUpSoapIn" />
      <wsdl:output message="tns:DeleteAvatarUserUpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadImage">
      <wsdl:input message="tns:UploadImageSoapIn" />
      <wsdl:output message="tns:UploadImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadAvatarUserInGame">
      <wsdl:input message="tns:UploadAvatarUserInGameSoapIn" />
      <wsdl:output message="tns:UploadAvatarUserInGameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteImage">
      <wsdl:input message="tns:DeleteImageSoapIn" />
      <wsdl:output message="tns:DeleteImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadBanner">
      <wsdl:input message="tns:UploadBannerSoapIn" />
      <wsdl:output message="tns:UploadBannerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadImage_V2">
      <wsdl:input message="tns:UploadImage_V2SoapIn" />
      <wsdl:output message="tns:UploadImage_V2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AgentUpAvatarGif">
      <wsdl:input message="tns:AgentUpAvatarGifSoapIn" />
      <wsdl:output message="tns:AgentUpAvatarGifSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AgentUploadAvatar">
      <wsdl:input message="tns:AgentUploadAvatarSoapIn" />
      <wsdl:output message="tns:AgentUploadAvatarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveJPEG">
      <wsdl:input message="tns:SaveJPEGSoapIn" />
      <wsdl:output message="tns:SaveJPEGSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FileUploadSvcSoap" type="tns:FileUploadSvcSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeleteAvatarUserUp">
      <soap:operation soapAction="http://tempuri.org/DeleteAvatarUserUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadImage">
      <soap:operation soapAction="http://tempuri.org/UploadImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadAvatarUserInGame">
      <soap:operation soapAction="http://tempuri.org/UploadAvatarUserInGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteImage">
      <soap:operation soapAction="http://tempuri.org/DeleteImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadBanner">
      <soap:operation soapAction="http://tempuri.org/UploadBanner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadImage_V2">
      <soap:operation soapAction="http://tempuri.org/UploadImage_V2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgentUpAvatarGif">
      <soap:operation soapAction="http://tempuri.org/AgentUpAvatarGif" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgentUploadAvatar">
      <soap:operation soapAction="http://tempuri.org/AgentUploadAvatar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveJPEG">
      <soap:operation soapAction="http://tempuri.org/SaveJPEG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FileUploadSvcSoap12" type="tns:FileUploadSvcSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeleteAvatarUserUp">
      <soap12:operation soapAction="http://tempuri.org/DeleteAvatarUserUp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadImage">
      <soap12:operation soapAction="http://tempuri.org/UploadImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadAvatarUserInGame">
      <soap12:operation soapAction="http://tempuri.org/UploadAvatarUserInGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteImage">
      <soap12:operation soapAction="http://tempuri.org/DeleteImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadBanner">
      <soap12:operation soapAction="http://tempuri.org/UploadBanner" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadImage_V2">
      <soap12:operation soapAction="http://tempuri.org/UploadImage_V2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgentUpAvatarGif">
      <soap12:operation soapAction="http://tempuri.org/AgentUpAvatarGif" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgentUploadAvatar">
      <soap12:operation soapAction="http://tempuri.org/AgentUploadAvatar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveJPEG">
      <soap12:operation soapAction="http://tempuri.org/SaveJPEG" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileUploadSvc">
    <wsdl:port name="FileUploadSvcSoap" binding="tns:FileUploadSvcSoap">
      <soap:address location="http://localhost:31971/FileUploadSvc.asmx" />
    </wsdl:port>
    <wsdl:port name="FileUploadSvcSoap12" binding="tns:FileUploadSvcSoap12">
      <soap12:address location="http://localhost:31971/FileUploadSvc.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>