SOURCE/Admin/MyAdmin/Framework/BussinessObject/Web References/PaymentService/PaymentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UseCard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="issuer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardSerial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="transRef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="secretKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UseCardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UseCardResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UseCardSoapIn">
    <wsdl:part name="parameters" element="tns:UseCard" />
  </wsdl:message>
  <wsdl:message name="UseCardSoapOut">
    <wsdl:part name="parameters" element="tns:UseCardResponse" />
  </wsdl:message>
  <wsdl:portType name="PaymentServiceSoap">
    <wsdl:operation name="UseCard">
      <wsdl:input message="tns:UseCardSoapIn" />
      <wsdl:output message="tns:UseCardSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PaymentServiceSoap" type="tns:PaymentServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UseCard">
      <soap:operation soapAction="http://tempuri.org/UseCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PaymentServiceSoap12" type="tns:PaymentServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UseCard">
      <soap12:operation soapAction="http://tempuri.org/UseCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentService">
    <wsdl:port name="PaymentServiceSoap" binding="tns:PaymentServiceSoap">
      <soap:address location="http://123.30.139.110:8022/PaymentService.asmx" />
    </wsdl:port>
    <wsdl:port name="PaymentServiceSoap12" binding="tns:PaymentServiceSoap12">
      <soap12:address location="http://123.30.139.110:8022/PaymentService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>